@use "sass:math";
@import '../../../../../../../node_modules/@gisatcz/ptr-core/lib/styles/variables';

.ptr-docs-styles-maps-container {
	margin: m(math.div(1, 3)) 0 m(1);
}

.ptr-docs-styles-maps-container > div {
	margin-bottom: m(math.div(1, 3));
	height: 25rem;
}
