.preview-table {
	vertical-align: middle;
	display: table-cell;
	text-overflow: string;
	white-space: nowrap;
	overflow: auto;
}

.ptr-docs-props-table {
	display: table;
	width: 100%;
	table-layout: fixed;
}
